<a href="https://colab.research.google.com/github/Aomaphisara/Python-basics/blob/main/CountUniqueValues.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##üóÇÔ∏èImport data: vitalsign

In [ ]:
import pandas as pd
vital = pd.read_csv('/content/drive/MyDrive/ckdresearch2023/vitalsign.csv')
vital.head()

,LabNo,PatientUID,PatientVisitUID,OrderItemName,ResultItemName,ResultValue,CWhen
0,1,24513,2140458,Vital Signs Record,Weight,76.7,2558-04-08 09:57:59.153
1,1,24513,2341133,Vital Signs Record,BMI,30.76,2558-07-01 09:20:02.617
2,1,24513,2341133,Vital Signs Record,Pulse Rate,98,2558-07-01 09:20:02.617
3,1,24513,2341133,Vital Signs Record,Respiratory Rate,20,2558-07-01 09:20:02.617
4,1,24513,2388152,Vital Signs Record,BMI,30.36,2558-07-22 10:04:54.377

### üîéUniqueValues 
columns: **OrderItemName and ResultItemName** in vitalsign.csv

In [ ]:
import pandas as pd
from collections import Counter

# Extract the values from 'OrderItemName' and 'ResultItemName' columns
order_items = vital['OrderItemName'].values
result_items = vital['ResultItemName'].values

# Count the occurrences of each value in 'OrderItemName' and 'ResultItemName'
order_item_counts = Counter(order_items)
result_item_counts = Counter(result_items)

# Convert the counters to dataframes
order_item_df = pd.DataFrame.from_dict(order_item_counts, orient='index', columns=['Count'])
result_item_df = pd.DataFrame.from_dict(result_item_counts, orient='index', columns=['Count'])

# Sort the dataframes by count in descending order
order_item_df = order_item_df.sort_values(by='Count', ascending=False)
result_item_df = result_item_df.sort_values(by='Count', ascending=False)

# Print the dataframe for 'OrderItemName'
print("Dataframe for 'OrderItemName':")
print(order_item_df)

# Print the dataframe for 'ResultItemName'
print("\nDataframe for 'ResultItemName':")
print(result_item_df)

Dataframe for 'OrderItemName':
                      Count
Vital Signs Record  9213497

Dataframe for 'ResultItemName':
                      Count
Systolic BP         1389230
Diastolic BP        1387866
Pulse Rate          1326568
Respiratory Rate    1044964
Temperature          670561
Weight               666734
Height               624585
BMI                  612300
BSA                  612014
O2 Sat               500912
Pain Score           242681
MeanPressure         127336
Waistline              6291
IrregularHeartBeat     1063
Head Circumference      284
6MWT                     85
Fat                      12
AverageMeasurement       11

In [ ]:
order_item_df

                      Count
Vital Signs Record  9213497

In [ ]:
result_item_df

                      Count
Systolic BP         1389230
Diastolic BP        1387866
Pulse Rate          1326568
Respiratory Rate    1044964
Temperature          670561
Weight               666734
Height               624585
BMI                  612300
BSA                  612014
O2 Sat               500912
Pain Score           242681
MeanPressure         127336
Waistline              6291
IrregularHeartBeat     1063
Head Circumference      284
6MWT                     85
Fat                      12
AverageMeasurement       11

In [ ]:
import pandas as pd
from collections import Counter

# Extract the values from 'OrderItemName' and 'ResultItemName' columns
order_items = vital['OrderItemName'].values
result_items = vital['ResultItemName'].values

# Count the occurrences of each value in 'OrderItemName' and 'ResultItemName'
order_item_counts = Counter(order_items)
result_item_counts = Counter(result_items)

# Convert the counters to dataframes
order_item_df = pd.DataFrame.from_dict(order_item_counts, orient='index', columns=['OrderItemName_Count'])
result_item_df = pd.DataFrame.from_dict(result_item_counts, orient='index', columns=['ResultItemName_Count'])

# Merge the dataframes into a single dataframe
vital_merged_df = pd.concat([order_item_df, result_item_df], axis=1)

# Sort the merged dataframe by count in descending order
vital_merged_df = vital_merged_df .sort_values(by='ResultItemName_Count', ascending=False)

# Print the merged dataframe
print("Merged DataFrame:")
print(vital_merged_df)

Merged DataFrame:
                    OrderItemName_Count  ResultItemName_Count
Systolic BP                         NaN             1389230.0
Diastolic BP                        NaN             1387866.0
Pulse Rate                          NaN             1326568.0
Respiratory Rate                    NaN             1044964.0
Temperature                         NaN              670561.0
Weight                              NaN              666734.0
Height                              NaN              624585.0
BMI                                 NaN              612300.0
BSA                                 NaN              612014.0
O2 Sat                              NaN              500912.0
Pain Score                          NaN              242681.0
MeanPressure                        NaN              127336.0
Waistline                           NaN                6291.0
IrregularHeartBeat                  NaN                1063.0
Head Circumference                  NaN                 284.0
6MWT                                NaN                  85.0
Fat                                 NaN                  12.0
AverageMeasurement                  NaN                  11.0
Vital Signs Record            9213497.0                   NaN

In [ ]:
vital_merged_df

                    OrderItemName_Count  ResultItemName_Count
Systolic BP                         NaN             1389230.0
Diastolic BP                        NaN             1387866.0
Pulse Rate                          NaN             1326568.0
Respiratory Rate                    NaN             1044964.0
Temperature                         NaN              670561.0
Weight                              NaN              666734.0
Height                              NaN              624585.0
BMI                                 NaN              612300.0
BSA                                 NaN              612014.0
O2 Sat                              NaN              500912.0
Pain Score                          NaN              242681.0
MeanPressure                        NaN              127336.0
Waistline                           NaN                6291.0
IrregularHeartBeat                  NaN                1063.0
Head Circumference                  NaN                 284.0
6MWT                                NaN                  85.0
Fat                                 NaN                  12.0
AverageMeasurement                  NaN                  11.0
Vital Signs Record            9213497.0                   NaN

##üóÇÔ∏èImport data: Diagnosis

In [ ]:
import pandas as pd
diagnosis = pd.read_csv('/content/drive/MyDrive/ckdresearch2023/Diagnosis.csv')
diagnosis.head()

,PatientUID,PatientVisitUID,ProblemCode,ProblemName,ProblemDescription,DIAGTYPE,OnsetDttm
0,22496,0,K922,"Gastrointestinal haemorrhage\, unspecified",‡πÄ‡∏•‡∏∑‡∏≠‡∏î‡∏≠‡∏≠‡∏Å‡πÉ‡∏ô‡∏Å‡∏£‡∏∞‡πÄ‡∏û‡∏≤‡∏∞‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÅ‡∏•‡∏∞‡∏•‡∏≥‡πÑ‡∏™‡πâ ‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
1,20509,0,R104,Other and unspecified abdominal pain,‡∏õ‡∏ß‡∏î‡∏ó‡πâ‡∏≠‡∏á‡πÅ‡∏ö‡∏ö‡∏≠‡∏∑‡πà‡∏ô‡πÅ‡∏•‡∏∞‡πÑ‡∏°‡πà‡∏£‡∏∞‡∏ö‡∏∏‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
2,6629,0,K052,Acute periodontitis,‡πÇ‡∏£‡∏Ñ‡∏õ‡∏£‡∏¥‡∏ó‡∏±‡∏ô‡∏ï‡πå‡∏≠‡∏±‡∏Å‡πÄ‡∏™‡∏µ‡∏¢‡∏ö‡πÄ‡∏â‡∏µ‡∏¢‡∏ö‡∏û‡∏•‡∏±‡∏ô,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-05 00:00:00.000
3,22234,0,E112,Non-insulin-dependent diabetes mellitus type 2...,‡πÄ‡∏ö‡∏≤‡∏´‡∏ß‡∏≤‡∏ô‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ï‡πâ‡∏≠‡∏á‡∏û‡∏∂‡πà‡∏á‡∏≠‡∏¥‡∏ô‡∏ã‡∏π‡∏•‡∏¥‡∏ô ‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ö‡∏†‡∏≤‡∏ß‡∏∞‡πÅ...,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-07 00:00:00.000
4,22234,0,N083,Glomerular disorders in diabetes mellitus ( E1...,‡∏Ñ‡∏ß‡∏≤‡∏°‡∏ú‡∏¥‡∏î‡∏õ‡∏Å‡∏ï‡∏¥‡∏Ç‡∏≠‡∏á‡πÇ‡∏Å‡∏•‡πÄ‡∏°‡∏≠‡∏£‡∏π‡∏•‡∏±‡∏™‡πÉ‡∏ô‡πÇ‡∏£‡∏Ñ‡πÄ‡∏ö‡∏≤‡∏´‡∏ß‡∏≤‡∏ô (E10-E14...,PRINCIPAL DX (‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢‡πÇ‡∏£‡∏Ñ‡∏´‡∏•‡∏±‡∏Å),2556-01-07 00:00:00.000

### üîé**UniqueValues**
columns: **ProblemCode, ProblemName, and (ProblemCode,ProblemName)** in Diagnosis.csv

In [ ]:
import pandas as pd
from collections import Counter

# Extract the values from 'ProblemCode' and 'ProblemName' columns
problem_codes = diagnosis['ProblemCode'].values
problem_names = diagnosis['ProblemName'].values

# Count the occurrences of each value in 'ProblemCode', 'ProblemName', and (ProblemCode, ProblemName)
problem_code_counts = Counter(problem_codes)
problem_name_counts = Counter(problem_names)
problem_code_name_counts = Counter(zip(problem_codes, problem_names))

# Create a DataFrame from the counters
diagnosis_df = pd.DataFrame.from_dict(problem_code_counts, orient='index', columns=['ProblemCode_Count'])
diagnosis_df['ProblemName_Count'] = pd.Series(problem_name_counts)
diagnosis_df['ProblemCode, ProblemName_Count'] = pd.Series(problem_code_name_counts)

# Sort the DataFrame by count in descending order
diagnosis_df = diagnosis_df.sort_values(by='ProblemCode_Count', ascending=False)

# Print the merged DataFrame
print("Merged DataFrame:")
print(diagnosis_df)

Merged DataFrame:
           ProblemCode_Count  ProblemName_Count  \
370992007             133314                NaN
I10                    97039                NaN
44054006               76676                NaN
1201005                72796                NaN
59621000               57233                NaN
...                      ...                ...
90228003                   1                NaN
174428001                  1                NaN
7407001                    1                NaN
92129006                   1                NaN
95209008                   1                NaN

           ProblemCode, ProblemName_Count
370992007                             NaN
I10                                   NaN
44054006                              NaN
1201005                               NaN
59621000                              NaN
...                                   ...
90228003                              NaN
174428001                             NaN
7407001                               NaN
92129006                              NaN
95209008                              NaN

[19486 rows x 3 columns]

In [ ]:
diagnosis_df

,ProblemCode_Count,ProblemName_Count,"ProblemCode, ProblemName_Count"
370992007,133314,NaN,NaN
I10,97039,NaN,NaN
44054006,76676,NaN,NaN
1201005,72796,NaN,NaN
59621000,57233,NaN,NaN
...,...,...,...
90228003,1,NaN,NaN
174428001,1,NaN,NaN
7407001,1,NaN,NaN
92129006,1,NaN,NaN
95209008,1,NaN,NaN

##üóÇÔ∏èImport data: Lab

In [ ]:
import pandas as pd
lab = pd.read_csv('/content/drive/MyDrive/ckdresearch2023/Lab.csv')
lab.head()

,LabNo,PatientUID,PatientVisitUID,Location,RequestItemName,ResultItemName,CWhen,ResultDttm,ResultValue,Unit,ReferenceRange
0,1,2299,2024049,‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ô‡∏¥‡∏ß‡πÄ‡∏Ñ‡∏•‡∏µ‡∏¢‡∏£‡πå (OPD)-D15,BMD LUMBAR,Formatted Result,2558-02-19 16:16:51.423,NaN,FT,NaN,NaN
1,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALBUMIN, 32403","ALBUMIN, 32403",2558-02-19 10:32:20.907,NaN,4.1,NaN,3.8 - 5.4
2,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,Alkaline Phos,"ALP, 32309",2558-02-19 10:32:21.610,NaN,44,NaN,42 - 121
3,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"ALT, 32311","ALT, 32311",2558-02-19 10:32:21.390,NaN,17,NaN,4 - 36
4,1,2299,2024049,‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,"AST, 32310","AST, 32310",2558-02-19 10:32:21.500,NaN,23,NaN,12 - 32

### üîé**UniqueValues**
columns: **Location and ResultItemName** in Lab.csv

In [ ]:
import pandas as pd
from collections import Counter

# Extract the values from 'Location' and 'ResultItemName' columns
locations = lab['Location'].values
result_items = lab['ResultItemName'].values

# Count the occurrences of each value in 'Location' and 'ResultItemName'
location_counts = Counter(locations)
result_item_counts = Counter(result_items)

# Convert the counters to dataframes
location_df = pd.DataFrame.from_dict(location_counts, orient='index', columns=['Location_Count'])
result_item_df = pd.DataFrame.from_dict(result_item_counts, orient='index', columns=['ResultItemName_Count'])

# Merge the dataframes into a single dataframe
lab_merged_df = pd.concat([location_df, result_item_df], axis=1)

# Sort the merged dataframe by count in descending order
lab_merged_df =lab_merged_df .sort_values(by='Location_Count', ascending=False)

# Print the merged dataframe
print("Merged DataFrame:")
print(lab_merged_df)

Merged DataFrame:
                                           Location_Count  \
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢                11033732.0
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£       9919377.0
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å             200353.0
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏π‡∏°‡∏¥‡∏Ñ‡∏∏‡πâ‡∏°‡∏Å‡∏±‡∏ô‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å             190574.0
‡∏´‡πâ‡∏≠‡∏á Xray ‡∏ä‡∏±‡πâ‡∏ô 1-D1403                           114615.0
...                                                   ...
Enterovirus 71 RNA detection                          NaN
Anti-A                                                NaN
Anti-B                                                NaN
Antigen K                                             NaN
Antigen S                                             NaN

                                           ResultItemName_Count
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢                             NaN
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£                   NaN
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å                        NaN
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏π‡∏°‡∏¥‡∏Ñ‡∏∏‡πâ‡∏°‡∏Å‡∏±‡∏ô‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å                        NaN
‡∏´‡πâ‡∏≠‡∏á Xray ‡∏ä‡∏±‡πâ‡∏ô 1-D1403                                      NaN
...                                                         ...
Enterovirus 71 RNA detection                                1.0
Anti-A                                                      1.0
Anti-B                                                      1.0
Antigen K                                                   1.0
Antigen S                                                   1.0

[1579 rows x 2 columns]

In [ ]:
lab_merged_df

,Location_Count,ResultItemName_Count
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏à‡∏∏‡∏•‡∏ó‡∏£‡∏£‡∏®‡∏ô‡πå‡∏ß‡∏¥‡∏ô‡∏¥‡∏à‡∏â‡∏±‡∏¢,11033732.0,NaN
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡πÄ‡∏Ñ‡∏°‡∏µ‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å ‡πÄ‡∏ß‡∏ä‡∏®‡∏≤‡∏™‡∏ï‡∏£‡πå‡∏ä‡∏±‡∏ô‡∏™‡∏π‡∏ï‡∏£,9919377.0,NaN
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏´‡∏ô‡πà‡∏ß‡∏¢‡∏à‡∏∏‡∏•‡∏ä‡∏µ‡∏ß‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å,200353.0,NaN
‡∏´‡πâ‡∏≠‡∏á‡∏õ‡∏è‡∏¥‡∏ö‡∏±‡∏ï‡∏¥‡∏Å‡∏≤‡∏£‡∏†‡∏π‡∏°‡∏¥‡∏Ñ‡∏∏‡πâ‡∏°‡∏Å‡∏±‡∏ô‡∏ß‡∏¥‡∏ó‡∏¢‡∏≤‡∏Ñ‡∏•‡∏¥‡∏ô‡∏¥‡∏Å,190574.0,NaN
‡∏´‡πâ‡∏≠‡∏á Xray ‡∏ä‡∏±‡πâ‡∏ô 1-D1403,114615.0,NaN
...,...,...
Enterovirus 71 RNA detection,NaN,1.0
Anti-A,NaN,1.0
Anti-B,NaN,1.0
Antigen K,NaN,1.0
Antigen S,NaN,1.0

##üóÇÔ∏èImport data: Prescription

In [ ]:
import pandas as pd
prescription = pd.read_csv('/content/drive/MyDrive/ckdresearch2023/Prescription.csv')
prescription.head()

,PatientUID,PatientVisitUID,DispensedDttm,DrugName,GenericName,Quantity,DrugFrequency,Dosage,DosageForm,DrugDuration
0,2299,2024049,2558-02-19 14:48:15.693,Folic Acid 5 mg TAB,Folivit tab 5 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0
1,2299,2024049,2558-02-19 14:48:15.693,Vitamin B Complex TAB,Vitamin B Complex TAB,180.0,bid pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 2 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤ ‡πÄ‡∏¢‡πá‡∏ô,1.0,1 TAB,90.0
2,2299,2024049,2558-02-19 14:48:15.693,losartan(Loranta) 50 mg TAB,Loranta film-coated tab 50 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0
3,2299,2024049,2558-02-19 14:48:15.693,lorazepam(Anxira) 0.5 mg TAB,Anxira tab 0.5 mg,30.0,hs |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏Å‡πà‡∏≠‡∏ô‡∏ô‡∏≠‡∏ô,1.0,1 TAB,30.0
4,2299,2024049,2558-02-19 14:47:55.953,ChalkTAB-1.5 TAB,Chalktab 1500 mg,90.0,od pc |‡∏ß‡∏±‡∏ô‡∏•‡∏∞ 1 ‡∏Ñ‡∏£‡∏±‡πâ‡∏á ‡∏´‡∏•‡∏±‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÄ‡∏ä‡πâ‡∏≤,1.0,1 TAB,90.0

### **üîéUniqueValues** 
columns: **DrugName, GenericName, and (DrugName,GenericName)** in Prescription.csv

In [ ]:
import pandas as pd
from collections import Counter

# Extract the values from 'DrugName' and 'GenericName' columns
drug_names = prescription['DrugName'].values
generic_names = prescription['GenericName'].values

# Combine 'DrugName' and 'GenericName' to create a new column 'DrugName,GenericName'
drug_generic_names = [f"{drug},{generic}" for drug, generic in zip(drug_names, generic_names)]

# Count the occurrences of each value in 'DrugName', 'GenericName', and 'DrugName,GenericName'
drug_name_counts = Counter(drug_names)
generic_name_counts = Counter(generic_names)
drug_generic_name_counts = Counter(drug_generic_names)

# Convert the counters to dataframes
drug_name_df = pd.DataFrame.from_dict(drug_name_counts, orient='index', columns=['DrugName_Count'])
generic_name_df = pd.DataFrame.from_dict(generic_name_counts, orient='index', columns=['GenericName_Count'])
drug_generic_name_df = pd.DataFrame.from_dict(drug_generic_name_counts, orient='index', columns=['DrugName_GenericName_Count'])

# Merge the dataframes into a single dataframe
prescription_merged_df = pd.concat([drug_name_df, generic_name_df, drug_generic_name_df], axis=1)

# Sort the merged dataframe by count in descending order
prescription_merged_df  = prescription_merged_df.sort_values(by='DrugName_Count', ascending=False)

# Print the merged dataframe
print("Merged DataFrame:")
print(prescription_merged_df)

Merged DataFrame:
                                                    DrugName_Count  \
Folic Acid 5 mg TAB                                       262937.0
Vitamin B Complex  ED.TAB                                 194852.0
aspirin(Aspent M) 81 mg TAB                               191145.0
omeprazole(Miracid) 20 mg CAP                             189804.0
Normal Saline 0.9% IV 100 ml                              179434.0
...                                                            ...
Darzalex SC 1.8g/15ml INJ,Darzalex SC 1.8g/15ml...             NaN
Velcade INJ. 1.0 mg(‡πÄ‡∏â‡∏û‡∏≤‡∏∞),Velcade powd for inj...             NaN
‡∏´‡∏•‡∏≠‡∏î‡∏Ñ‡∏≠‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏≤‡∏£‡∏´‡∏≤‡∏¢‡πÉ‡∏à (Tracheostomy tube) ‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏≥‡∏î‡πâ...             NaN
‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡∏ó‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå‡∏™‡∏π‡∏ï‡∏£‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô ‡πÄ‡∏™‡∏£‡∏¥‡∏°‡πÅ‡∏Ñ‡∏•‡πÄ‡∏ã‡∏µ‡∏¢‡∏° ‡πÄ‡∏≠‡∏ä ‡πÄ...             NaN
‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏ö‡∏∏‡∏´‡∏±‡∏ß‡πÉ‡∏à‡∏ó‡∏≥‡∏à‡∏≤‡∏Å‡∏ß‡∏±‡∏ß ‡∏ú‡∏ô‡∏±‡∏á‡∏Å‡∏±‡πâ‡∏ô‡∏´‡∏±‡∏ß‡πÉ‡∏à‡πÄ‡∏ó‡∏µ‡∏¢‡∏° (perica...             NaN

                                                    GenericName_Count  \
Folic Acid 5 mg TAB                                               NaN
Vitamin B Complex  ED.TAB                                    194852.0
aspirin(Aspent M) 81 mg TAB                                  191145.0
omeprazole(Miracid) 20 mg CAP                                     NaN
Normal Saline 0.9% IV 100 ml                                 179434.0
...                                                               ...
Darzalex SC 1.8g/15ml INJ,Darzalex SC 1.8g/15ml...                NaN
Velcade INJ. 1.0 mg(‡πÄ‡∏â‡∏û‡∏≤‡∏∞),Velcade powd for inj...                NaN
‡∏´‡∏•‡∏≠‡∏î‡∏Ñ‡∏≠‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏≤‡∏£‡∏´‡∏≤‡∏¢‡πÉ‡∏à (Tracheostomy tube) ‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏≥‡∏î‡πâ...                NaN
‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡∏ó‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå‡∏™‡∏π‡∏ï‡∏£‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô ‡πÄ‡∏™‡∏£‡∏¥‡∏°‡πÅ‡∏Ñ‡∏•‡πÄ‡∏ã‡∏µ‡∏¢‡∏° ‡πÄ‡∏≠‡∏ä ‡πÄ...                NaN
‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏ö‡∏∏‡∏´‡∏±‡∏ß‡πÉ‡∏à‡∏ó‡∏≥‡∏à‡∏≤‡∏Å‡∏ß‡∏±‡∏ß ‡∏ú‡∏ô‡∏±‡∏á‡∏Å‡∏±‡πâ‡∏ô‡∏´‡∏±‡∏ß‡πÉ‡∏à‡πÄ‡∏ó‡∏µ‡∏¢‡∏° (perica...                NaN

                                                    DrugName_GenericName_Count
Folic Acid 5 mg TAB                                                        NaN
Vitamin B Complex  ED.TAB                                                  NaN
aspirin(Aspent M) 81 mg TAB                                                NaN
omeprazole(Miracid) 20 mg CAP                                              NaN
Normal Saline 0.9% IV 100 ml                                               NaN
...                                                                        ...
Darzalex SC 1.8g/15ml INJ,Darzalex SC 1.8g/15ml...                         7.0
Velcade INJ. 1.0 mg(‡πÄ‡∏â‡∏û‡∏≤‡∏∞),Velcade powd for inj...                         4.0
‡∏´‡∏•‡∏≠‡∏î‡∏Ñ‡∏≠‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏≤‡∏£‡∏´‡∏≤‡∏¢‡πÉ‡∏à (Tracheostomy tube) ‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏≥‡∏î‡πâ...                         2.0
‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡∏ó‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå‡∏™‡∏π‡∏ï‡∏£‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô ‡πÄ‡∏™‡∏£‡∏¥‡∏°‡πÅ‡∏Ñ‡∏•‡πÄ‡∏ã‡∏µ‡∏¢‡∏° ‡πÄ‡∏≠‡∏ä ‡πÄ...                         7.0
‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏ö‡∏∏‡∏´‡∏±‡∏ß‡πÉ‡∏à‡∏ó‡∏≥‡∏à‡∏≤‡∏Å‡∏ß‡∏±‡∏ß ‡∏ú‡∏ô‡∏±‡∏á‡∏Å‡∏±‡πâ‡∏ô‡∏´‡∏±‡∏ß‡πÉ‡∏à‡πÄ‡∏ó‡∏µ‡∏¢‡∏° (perica...                         1.0

[17671 rows x 3 columns]

In [ ]:
prescription_merged_df

,DrugName_Count,GenericName_Count,DrugName_GenericName_Count
Folic Acid 5 mg TAB,262937.0,NaN,NaN
Vitamin B Complex ED.TAB,194852.0,194852.0,NaN
aspirin(Aspent M) 81 mg TAB,191145.0,191145.0,NaN
omeprazole(Miracid) 20 mg CAP,189804.0,NaN,NaN
Normal Saline 0.9% IV 100 ml,179434.0,179434.0,NaN
...,...,...,...
"Darzalex SC 1.8g/15ml INJ,Darzalex SC 1.8g/15ml INJ",NaN,NaN,7.0
"Velcade INJ. 1.0 mg(‡πÄ‡∏â‡∏û‡∏≤‡∏∞),Velcade powd for inj 1 mg",NaN,NaN,4.0
"‡∏´‡∏•‡∏≠‡∏î‡∏Ñ‡∏≠‡∏ä‡πà‡∏ß‡∏¢‡∏Å‡∏≤‡∏£‡∏´‡∏≤‡∏¢‡πÉ‡∏à (Tracheostomy tube) ‡∏ä‡∏ô‡∏¥‡∏î‡∏ó‡∏≥‡∏î‡πâ‡∏ß‡∏¢‡∏û‡∏•‡∏≤‡∏™‡∏ï‡∏¥‡∏Å ‡∏™‡∏≥‡∏´‡∏£‡∏±‡∏ö‡∏ú‡∏π‡πâ‡∏õ‡πà‡∏ß‡∏¢‡∏â‡∏≤‡∏¢‡πÅ‡∏™‡∏á‡∏ö‡∏£‡∏¥‡πÄ‡∏ß‡∏ì‡∏•‡∏≥‡∏Ñ‡∏≠, Double tube tracheal cannula Size 10 mm.,nan",NaN,NaN,2.0
"‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡∏ó‡∏≤‡∏á‡∏Å‡∏≤‡∏£‡πÅ‡∏û‡∏ó‡∏¢‡πå‡∏™‡∏π‡∏ï‡∏£‡∏Ñ‡∏£‡∏ö‡∏ñ‡πâ‡∏ß‡∏ô ‡πÄ‡∏™‡∏£‡∏¥‡∏°‡πÅ‡∏Ñ‡∏•‡πÄ‡∏ã‡∏µ‡∏¢‡∏° ‡πÄ‡∏≠‡∏ä ‡πÄ‡∏≠‡πá‡∏° ‡∏ö‡∏µ ‡∏Ñ‡∏ß‡∏≤‡∏°‡πÄ‡∏Ç‡πâ‡∏°‡∏Ç‡πâ‡∏ô 1.5: 1‡∏°‡∏•. ‡∏Å‡∏•‡∏¥‡πà‡∏ô‡∏ß‡∏ô‡∏¥‡∏•‡∏≤ ‡∏ä‡∏ô‡∏¥‡∏î‡∏ô‡πâ‡∏≥ ensure plus advance 220 ml.,nan",NaN,NaN,7.0
"‡πÄ‡∏¢‡∏∑‡πà‡∏≠‡∏ö‡∏∏‡∏´‡∏±‡∏ß‡πÉ‡∏à‡∏ó‡∏≥‡∏à‡∏≤‡∏Å‡∏ß‡∏±‡∏ß ‡∏ú‡∏ô‡∏±‡∏á‡∏Å‡∏±‡πâ‡∏ô‡∏´‡∏±‡∏ß‡πÉ‡∏à‡πÄ‡∏ó‡∏µ‡∏¢‡∏° (pericardium patch) (‡πÄ‡∏ß‡∏ä‡∏†‡∏±‡∏ì‡∏ë‡πå),nan",NaN,NaN,1.0

##üóÇÔ∏èImport data: visit

In [ ]:
import pandas as pd
visit = pd.read_csv('/content/drive/MyDrive/ckdresearch2023/Visit.csv')
visit.head()

<ipython-input-33-32e4c88d3e1e>:2: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  visit = pd.read_csv('/content/drive/MyDrive/ckdresearch2023/Visit.csv')

,PatientUID,PatientvisitUID,Sex,Age,ENTY,NATNL,StartDTTM,EndDttm,Location,PricipalProblemCode,PricipalProblemName
0,19319,25325,‡∏´‡∏ç‡∏¥‡∏á,83,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
1,83224,25327,‡∏ä‡∏≤‡∏¢,64,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
2,160455,25336,‡∏ä‡∏≤‡∏¢,86,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
3,181216,25338,‡∏´‡∏ç‡∏¥‡∏á,82,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN
4,568147,25357,‡∏ä‡∏≤‡∏¢,68,Out Patient,‡πÑ‡∏ó‡∏¢,2555-01-01 00:00:00.000,2557-11-26 23:58:59.730,NaN,NaN,NaN

### **üîéUniqueValues** 
columns: **PatientUID, PatientvisitUID, Sex, Age, ENTY, NATNL** in Visit.csv

In [ ]:
import pandas as pd
from collections import Counter

# Extract the values from the columns
patient_uids = visit['PatientUID'].values
patient_visit_uids = visit['PatientvisitUID'].values
sexs = visit['Sex'].values
ages = visit['Age'].values
enties = visit['ENTY'].values
natnls = visit['NATNL'].values

# Count the occurrences of each value in the columns
patient_uid_counts = Counter(patient_uids)
patient_visit_uid_counts = Counter(patient_visit_uids)
sex_counts = Counter(sexs)
age_counts = Counter(ages)
enty_counts = Counter(enties)
natnl_counts = Counter(natnls)

# Convert the counters to dataframes
patient_uid_df = pd.DataFrame.from_dict(patient_uid_counts, orient='index', columns=['PatientUID_Count'])
patient_visit_uid_df = pd.DataFrame.from_dict(patient_visit_uid_counts, orient='index', columns=['PatientvisitUID_Count'])
sex_df = pd.DataFrame.from_dict(sex_counts, orient='index', columns=['Sex_Count'])
age_df = pd.DataFrame.from_dict(age_counts, orient='index', columns=['Age_Count'])
enty_df = pd.DataFrame.from_dict(enty_counts, orient='index', columns=['ENTY_Count'])
natnl_df = pd.DataFrame.from_dict(natnl_counts, orient='index', columns=['NATNL_Count'])

# Merge the dataframes into a single dataframe
visit_merged_df = pd.concat([patient_uid_df, patient_visit_uid_df, sex_df, age_df, enty_df, natnl_df], axis=1)

# Print the merged dataframe
print("Merged DataFrame:")
print(visit_merged_df)

Merged DataFrame:
              PatientUID_Count  PatientvisitUID_Count  Sex_Count  Age_Count  \
19319                     59.0                    NaN        NaN        NaN
83224                    141.0                    NaN        NaN        NaN
160455                    76.0                    NaN        NaN        NaN
181216                    93.0                    NaN        NaN        NaN
568147                    93.0                    1.0        NaN        NaN
...                        ...                    ...        ...        ...
‡πÄ‡∏ö‡∏•‡πÄ‡∏¢‡∏µ‡∏¢‡∏°                   NaN                    NaN        NaN        NaN
‡πÑ‡∏£‡πâ‡∏™‡∏±‡∏ç‡∏ä‡∏≤‡∏ï‡∏¥                 NaN                    NaN        NaN        NaN
‡∏à‡∏µ‡∏ô(‡πÑ‡∏ï‡πâ‡∏´‡∏ß‡∏±‡∏ô)               NaN                    NaN        NaN        NaN
‡∏û‡∏°‡πà‡∏≤                       NaN                    NaN        NaN        NaN
‡πÑ‡∏ã‡∏õ‡∏£‡∏±‡∏™                     NaN                    NaN        NaN        NaN

              ENTY_Count  NATNL_Count
19319                NaN          NaN
83224                NaN          NaN
160455               NaN          NaN
181216               NaN          NaN
568147               NaN          NaN
...                  ...          ...
‡πÄ‡∏ö‡∏•‡πÄ‡∏¢‡∏µ‡∏¢‡∏°             NaN         35.0
‡πÑ‡∏£‡πâ‡∏™‡∏±‡∏ç‡∏ä‡∏≤‡∏ï‡∏¥           NaN         25.0
‡∏à‡∏µ‡∏ô(‡πÑ‡∏ï‡πâ‡∏´‡∏ß‡∏±‡∏ô)         NaN         20.0
‡∏û‡∏°‡πà‡∏≤                 NaN          2.0
‡πÑ‡∏ã‡∏õ‡∏£‡∏±‡∏™               NaN         11.0

[1361195 rows x 6 columns]

In [ ]:
visit_merged_df

,PatientUID_Count,PatientvisitUID_Count,Sex_Count,Age_Count,ENTY_Count,NATNL_Count
19319,59.0,NaN,NaN,NaN,NaN,NaN
83224,141.0,NaN,NaN,NaN,NaN,NaN
160455,76.0,NaN,NaN,NaN,NaN,NaN
181216,93.0,NaN,NaN,NaN,NaN,NaN
568147,93.0,1.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
‡πÄ‡∏ö‡∏•‡πÄ‡∏¢‡∏µ‡∏¢‡∏°,NaN,NaN,NaN,NaN,NaN,35.0
‡πÑ‡∏£‡πâ‡∏™‡∏±‡∏ç‡∏ä‡∏≤‡∏ï‡∏¥,NaN,NaN,NaN,NaN,NaN,25.0
‡∏à‡∏µ‡∏ô(‡πÑ‡∏ï‡πâ‡∏´‡∏ß‡∏±‡∏ô),NaN,NaN,NaN,NaN,NaN,20.0
‡∏û‡∏°‡πà‡∏≤,NaN,NaN,NaN,NaN,NaN,2.0
‡πÑ‡∏ã‡∏õ‡∏£‡∏±‡∏™,NaN,NaN,NaN,NaN,NaN,11.0