<a href="https://colab.research.google.com/github/Aomaphisara/Python-basics/blob/main/Pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![image.png]()

In [1]:
import pandas as pd

#  Pandas
- Series
- Datafranme
- Panel

## Series
Series   Array 1  ()   2  
- Index 
- Element Value   index

###  Series  list  tuple

In [2]:
data_ls = [10,20,'Kong',15.05,''] # list
ls = pd.Series(data_ls)
ls

0        10
1        20
2      Kong
3     15.05
4
dtype: object

In [3]:
data_tp =(10,20,'Kong',15.05,'') # tuple
tp = pd.Series(data_tp)
tp

0        10
1        20
2      Kong
3     15.05
4
dtype: object

###  Series  numpy

In [4]:
import numpy as np

In [5]:
ndata = np.array(data_ls)
ps = pd.Series(ndata)
ps

0        10
1        20
2      Kong
3     15.05
4
dtype: object

Array    Array ****

###  Series   index

In [6]:
item = ['','',''] # list
idx = [50,20,30]
ps1 =  pd.Series(item,index=idx)
ps1

50
20
30
dtype: object

###  Series  Dictionary
data_dict = {key:value,key:value}

In [7]:
data = {'':50,'':20,'':30}
ps2 =  pd.Series(data)
ps2

    50
    20
      30
dtype: int64

In [8]:
ps2['']

20

###  series ( Slice)
ps[star:stop-1]

In [9]:
a =np.arange(1,26)
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [10]:
a[:] #

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25])

In [11]:
a[9:] #  index  9

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25])

In [12]:
a[:10]  #  index  10

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [13]:
a[10:20]  #  index  10  index  20

array([11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

## Dataframe
Dataframe  Array 2  ( 2 )   Series

###  Dataframe  list  tuple

In [14]:
data_ls = [10,20,'Kong',15.05,''] # list
df_ls = pd.DataFrame(data_ls)
df_ls

        0
0      10
1      20
2    Kong
3   15.05
4

In [15]:
data_tp =(10,20,'Kong',15.05,'') # tuple
df_tp = pd.DataFrame(data_tp)
df_tp

        0
0      10
1      20
2    Kong
3   15.05
4

###  Dataframe

In [16]:
data = [15,23,20,30]
col = ['Age']
df =pd.DataFrame(data,columns=col)
df

   Age
0   15
1   23
2   20
3   30

###  Dataframe  list

In [17]:
data1 = [['','',1200],['','',900],['Iphone 12','',30000]] 
col1 = ['Name','Category','Price']
df1 = pd.DataFrame(data1,columns=col1)
df1

         Name    Category  Price
0       1200
1               900
2   Iphone 12        30000

###  Dataframe  list  zip
  list

In [18]:
name = ['','','Iphone 12']
Category	= ['','','']
Price = ['1200','900','30000']
datas = list(zip(name,Category,Price))
cols = ['','','']
df2 = pd.DataFrame(datas,columns=cols)
df2

0       1200
1               900
2   Iphone 12        30000

###  Dataframe  dictionary
- key 
- value

In [19]:
datas1 = [{'Name':'','Category':'','Price':1200},{'Name':'','Category':'','Price':800},{'Name':'Iphone 12','Category':'','Price':30000}]
df3 = pd.DataFrame(datas1)
df3

        Name    Category  Price
0       1200
1              800
2  Iphone 12        30000

In [20]:
df3.set_index(['Name'],inplace=True) #  index  Name

In [21]:
df3

             Category  Price
Name
     1200
            800
Iphone 12        30000

###  Dataframe  series

In [22]:
Name = ['','','Iphone 12']
Category	= ['','','']
Price = ['1200','900','30000']

name_s = pd.Series(Name)
category_s = pd.Series(Category)
price_s = pd.Series(Price)

fram = {'Name':name_s,'Category':category_s,'Price':price_s}
df4 = pd.DataFrame(fram)
df4

         Name    Category  Price
0       1200
1               900
2   Iphone 12        30000

## Panel
 Panel  3   Dataframe      3 
 -  0 Dataframe
 -  1  Index  Dataframe
 -  2  Dataframe

# Load data

##  1 CSV

In [23]:
import pandas as pd

In [24]:
#1
from google.colab import drive
drive.mount('/drive')

Mounted at /drive

In [25]:
unit = pd.read_csv('/drive/MyDrive/BPDV65/opendata_unittype.csv')
unit.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/---...
1,28777,unittype_10267,project_3543,Z-2,20000,Twin house,,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/---...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/-...

In [26]:
#2
# google drive 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [27]:
# path  google drive
import os
os.chdir('/content/drive/MyDrive/BPDV65')

!pwd # paht

/content/drive/MyDrive/BPDV65

In [28]:
!ls

myunit.csv			 opendata_unittype_clean.csv
myunit.xlsx			 opendata_unittype.csv
opendata_eating_score_clean.csv  opendata_volume_listing_rent.csv
opendata_eating_score.csv	 Residental_clean.csv
opendata_living_score_clean.csv  Residental_clean.gsheet
opendata_living_score.csv	 thai.json
opendata_project_clean.csv	 Weather.csv
opendata_project.csv

In [29]:
#open CSV file 
import pandas as pd

In [30]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown nomber of (row, column)
opendata_project.head(3)

(23434, 45)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...

In [183]:
opendata_project.shape

(23434, 45)

In [143]:
#3 upload data to colab
project = pd.read_csv('opendata_project.csv')
project.head() # .head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/-...

##  2 exel/sheet

In [32]:
# sheet

import pandas as pd
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

In [33]:
gsht = gc.open_by_key('1jIF55aFmr8rqqK7dBMXoyA71TWlHdIiiQAa0p1Dr794')
worksheet = gsht.worksheet('')

In [34]:
rows = worksheet.get_all_values()
home = pd.DataFrame.from_records(rows)

In [35]:
home.head(3)

,0,1,2,3,4,5,6,7,8
0,ID,post id,property_type,,,-,-,,
1,01,https://nayoo.co/khonkaen/posts/25,,,2890000,2500000,"5,000-15,000",,3 7 - 12
2,02,https://nayoo.co/khonkaen/posts/25,,,2890000,2700000,"2,500,000-3,000,000 /...",,4 4 - 6

##  3 json

In [36]:
import pandas as pd
import json

In [37]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [38]:
with open('/content/drive/MyDrive/dpdm/7-eleven.json') as json_file:
  this_json = json.loads(json_file.read())

In [39]:
list(this_json.keys())[:10]

['1', '4', '6', '7', '9', '11', '16', '17', '18', '19']

In [40]:
len(this_json)

3653

#

In [41]:
unit.head() # 5

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/---...
1,28777,unittype_10267,project_3543,Z-2,20000,Twin house,,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/---...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/-...

In [42]:
unit.tail() # 5

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/-...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/--...
42622,41009,617bde1687dd2300149d2195,617bdd47f62011001350de07,Grande,3,Townhome,,NaN,133.0,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:34:17,2021-10-29 18:43:09,baania,https://baania.com/th/project/-...
42623,9333,unittype_37375,project_16389,,1,Detached House,,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/-...
42624,780,unittype_17011,project_6762,,1,Detached House,,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/--...

In [43]:
unit.sample() #

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
9368,19628,unittype_27739,project_11299,Studio,2,Condo,,NaN,25.0,995000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:41:34,2020-10-14 01:09:54,baania,https://baania.com/th/project/---...

In [44]:
unit.describe()#

,row_number,propertytype_id,area_total_min_wa,area_usable_min,price_min,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
count,42625.000000,42625.000000,3747.000000,36999.000000,3.542800e+04,1780.000000,0.0,29709.000000,23520.000000,41144.000000,40658.000000,13670.000000,13044.000000,20454.000000,10026.000000,2068.000000,4108.000000,699.000000
mean,21313.000000,938.471859,44.413819,139.286943,5.569699e+06,2.465730,NaN,1.945572,1.844090,2.286263,2.528137,1.001902,1.010810,1.018138,1.053860,1.048356,1.054771,1.058655
std,12304.921949,4220.823322,21.502884,111.939963,1.117088e+07,1.512717,NaN,0.658217,0.759404,1.145901,1.158793,0.043572,0.106334,0.134549,0.262145,0.227696,0.269673,0.284749
min,1.000000,1.000000,1.000000,14.000000,1.000000e+05,1.000000,NaN,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,10657.000000,1.000000,23.000000,60.000000,1.950000e+06,1.000000,NaN,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
50%,21313.000000,2.000000,50.000000,125.000000,3.100000e+06,2.000000,NaN,2.000000,2.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
75%,31969.000000,3.000000,60.000000,179.000000,5.290000e+06,3.000000,NaN,2.000000,2.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,42625.000000,20000.000000,335.000000,4350.000000,5.800000e+08,10.000000,NaN,9.000000,10.000000,11.000000,10.000000,2.000000,3.000000,3.000000,5.000000,4.000000,5.000000,4.000000

In [45]:
unit.shape #

(42625, 27)

In [46]:
unit.columns #

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype'],
      dtype='object')

In [47]:
unit.values # Array

array([[27501, 'unittype_9565', 'project_2446', ...,
        '2021-11-19 17:44:45', 'baania',
        'https://baania.com/th/project/-----79-2446/2-bedroom-unittype_9565'],
       [28777, 'unittype_10267', 'project_3543', ...,
        '2022-01-27 14:22:55', 'baania',
        'https://baania.com/th/project/---3543/-z-2-unittype_10267'],
       [28865, 'unittype_471', 'project_143', ..., '2022-01-14 14:40:04',
        'baania',
        'https://baania.com/th/project/--143/1-bedroom-type-b-unittype_471'],
       ...,
       [41009, '617bde1687dd2300149d2195', '617bdd47f62011001350de07',
        ..., '2021-10-29 18:43:09', 'baania',
        'https://baania.com/th/project/----617bdd47f62011001350de07/grande-617bde1687dd2300149d2195'],
       [9333, 'unittype_37375', 'project_16389', ...,
        '2020-10-14 19:30:46', 'baania',
        'https://baania.com/th/project/--16389/-unittype_37375'],
       [780, 'unittype_17011', 'project_6762', ...,
        '2020-10-14 00:41:39', 'baania',
        'https://baania.com/th/project/---6762/-unittype_17011']],
      dtype=object)

#

In [48]:
unit['propertytype_name_th']

0
1
2
3
4
           ...
42620
42621
42622
42623
42624
Name: propertytype_name_th, Length: 42625, dtype: object

In [49]:
unit['propertytype_name_th'][4]

''

In [50]:
unit[unit.price_min>=50000]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/---...
1,28777,unittype_10267,project_3543,Z-2,20000,Twin house,,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/---...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/-776...
4,38596,unittype_10290,project_3551,TH 3,3,Townhome,,NaN,182.0,2390000.0,...,1.0,1.0,NaN,NaN,2.0,NaN,2021-11-12 13:30:08,2021-02-03 12:12:54,baania,https://baania.com/th/project/-...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/--...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42618,22299,unittype_13674,project_5356,,1,Detached House,,NaN,130.0,36500000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:38:03,2020-10-14 00:47:50,baania,https://baania.com/th/project/-53...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/-...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/--...
42623,9333,unittype_37375,project_16389,,1,Detached House,,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/-...
42624,780,unittype_17011,project_6762,,1,Detached House,,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/--...

In [51]:
unit[unit.price_min<500000]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/-776...
34,23009,unittype_17024,project_6767,1 Bedroom,2,Condo,,NaN,22.0,240000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:35,2020-10-14 01:05:48,baania,https://baania.com/th/project/-676...
62,24511,unittype_11045,project_3837,Studio,2,Condo,,NaN,26.0,270000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:51,2021-03-08 13:40:32,baania,https://baania.com/th/project/...
202,16380,5ed0b52f61c7140012c4d6d1,5ed0b4d961c7140012c4d6ce,1 Bedroom,2,Condo,,NaN,24.0,250000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:03,2020-10-14 20:16:05,baania,https://baania.com/th/project/-...
319,138,unittype_19415,project_7746,"Studio Tower 1,2 Floor 10-12",2,Condo,,NaN,21.0,274000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:44,2020-10-14 01:06:46,baania,https://baania.com/th/project/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42149,24207,unittype_17426,project_4776,Studio Floor 2 Tower 1-39,2,Condo,,NaN,33.0,363000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:19,2020-10-14 01:01:35,baania,https://baania.com/th/project/...
42290,35280,unittype_5288,project_1768,,1,Detached House,,NaN,NaN,380000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:39:12,2020-10-14 00:54:21,baania,https://baania.com/th/project/-...
42332,8513,unittype_37189,project_16107,,20000,Twin house,,20.0,NaN,478000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:24:05,2020-10-14 22:20:38,baania,https://baania.com/th/project/-...
42365,28235,unittype_5205,project_1716,1 Bedroom,2,Condo,,NaN,30.0,340000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:33,2020-10-14 01:10:52,baania,https://baania.com/th/project/-1...
42464,23929,unittype_18429,project_3885,1 Bedroom Floor 5-6,2,Condo,,NaN,24.0,186000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:20:57,2020-10-14 00:58:02,baania,https://baania.com/th/project/...

In [52]:
unit[unit.propertytype_name_en == 'Twin house']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
1,28777,unittype_10267,project_3543,Z-2,20000,Twin house,,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/---...
81,39468,unittype_28930,project_10164,,20000,Twin house,,NaN,130.0,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:29:27,2021-01-25 13:48:17,baania,https://baania.com/th/project/---1016...
107,40460,60f54b0c41c1f20014ccffb1,60f54a72c757f20014f9d98d,,20000,Twin house,,NaN,120.0,3690000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:33:36,2021-07-19 16:52:43,baania,https://baania.com/th/project/--60...
118,21898,unittype_6874,project_2286,,20000,Twin house,,NaN,122.0,2890000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:27:23,2021-01-07 10:41:53,baania,https://baania.com/th/project/--...
127,3301,unittype_7010,project_2331,Bequem,20000,Twin house,,NaN,210.0,11900000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:30:36,2021-03-02 10:45:16,baania,https://baania.com/th/project/--...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42534,11307,unittype_34383,project_14794,,20000,Twin house,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:23:57,2020-10-14 22:14:46,baania,https://baania.com/th/project/-...
42543,15777,5eb0fc490763af0019fc34a1,5eafedf268253d0012adc91c,,20000,Twin house,,NaN,130.0,1490000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:18:25,2020-05-06 09:46:34,baania,https://baania.com/th/project/-...
42559,41726,62064027591c4600138e62fb,600001780b458100134e49cb,Twin Stylist,20000,Twin house,,NaN,95.0,1990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-11 18:30:06,2022-02-11 17:54:38,baania,https://baania.com/th/project/--...
42581,9540,unittype_26642,project_10725,,20000,Twin house,,NaN,145.0,2050000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:05,2020-10-14 00:35:09,baania,https://baania.com/th/project/-10725/...
42600,7080,unittype_35335,project_2301,Chestnut,20000,Twin house,,NaN,142.0,4390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:31,2021-02-22 10:57:57,baania,https://baania.com/th/project/--...

In [53]:
unit.loc[(unit.propertytype_name_en == 'Twin house') & (unit.price_min<1000000)]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
825,15251,5e9d26419f161600121b602a,5e9d25c39f161600121b6028,,20000,Twin house,,NaN,93.0,990000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:18:14,2020-04-20 14:08:08,baania,https://baania.com/th/project/--5e9d2...
1133,40058,6070286fca1e9b0013db1b92,60702450ca1e9b0013db1b8c,,20000,Twin house,,NaN,76.4,179000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:31:22,2021-04-09 17:16:55,baania,https://baania.com/th/project/-...
4646,41643,61fb7c520ffdb300136d1d61,61fb7bc31851bf00150645d8,,20000,Twin house,,NaN,151.0,299000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-03 14:30:03,2022-02-03 14:07:06,baania,https://baania.com/th/project/-...
7110,22714,unittype_4385,project_1435,,20000,Twin house,,NaN,NaN,670000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:38:52,2020-10-14 00:52:46,baania,https://baania.com/th/project/...
7281,30519,unittype_27454,project_11148,,20000,Twin house,,NaN,57.0,950000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:13,2020-10-14 00:35:59,baania,https://baania.com/th/project/...
10886,11604,unittype_30322,project_12801,,20000,Twin house,,NaN,60.0,900000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2020-12-04 10:44:25,2020-10-14 21:27:20,baania,https://baania.com/th/project/-...
11235,27263,unittype_1405,project_688,,20000,Twin house,,NaN,78.0,840000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:46,2020-10-14 00:39:27,baania,https://baania.com/th/project/-688/...
11243,39064,unittype_35248,project_15127,,20000,Twin house,,NaN,54.0,509000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:26:44,2021-01-04 15:28:46,baania,https://baania.com/th/project/-...
12122,29395,unittype_19179,project_7695,,20000,Twin house,,NaN,88.0,890000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:37:38,2020-10-14 00:44:55,baania,https://baania.com/th/project/...
12423,30542,unittype_27976,project_11431,,20000,Twin house,,NaN,49.0,864000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:36:19,2020-10-14 00:36:38,baania,https://baania.com/th/project/-2-1...
12581,28745,unittype_4159,project_1361,,20000,Twin house,,NaN,NaN,770000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:38:36,2020-10-14 00:51:06,baania,https://baania.com/th/project/-...
15048,15649,5ea9402268253d0012adc246,5ea93e7168253d0012adc233,Hokkaido,20000,Twin house,,NaN,74.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:18:43,2020-06-24 17:07:11,baania,https://baania.com/th/project/-3-5ea93e...
15084,39209,unittype_34625,project_14923,,20000,Twin house,,NaN,120.0,608000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:33:11,2020-06-25 12:10:09,baania,https://baania.com/th/project/...
16534,14623,5e859b63e146a400123ef2c8,5e859acfe146a400123ef2c5,,20000,Twin house,,NaN,NaN,750000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:18:37,2020-06-18 14:32:05,baania,https://baania.com/th/project/...
17442,30583,unittype_28079,project_11485,,20000,Twin house,,NaN,80.0,965000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:21,2020-10-14 00:36:47,baania,https://baania.com/th/project/--114...
17883,36969,unittype_1886,project_994,Type A,20000,Twin house,,NaN,NaN,560000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2021-11-12 13:19:37,2020-10-14 00:39:56,baania,https://baania.com/th/project/...
21449,20226,unittype_1409,project_690,,20000,Twin house,,NaN,NaN,870000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:44:18,2020-10-14 21:19:50,baania,https://baania.com/th/project/...
22640,15683,5eaa8d4d68253d0012adc4f6,5eaa8cfe68253d0012adc4e9,,20000,Twin house,,NaN,NaN,707000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:18:40,2020-06-23 15:48:40,baania,https://baania.com/th/project/...
23365,3708,unittype_27189,project_11017,,20000,Twin house,,NaN,54.0,499000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:42:52,2020-10-14 20:03:36,baania,https://baania.com/th/project/-35-1...
24751,516,unittype_15332,project_6033,,20000,Twin house,,NaN,NaN,950000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:40:56,baania,https://baania.com/th/project/...
27415,29288,unittype_17178,project_6851,,20000,Twin house,,NaN,NaN,800000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:44:29,2020-10-14 21:32:17,baania,https://baania.com/th/project/-1-68...
31025,19565,unittype_28030,project_11458,,20000,Twin house,,NaN,65.0,899000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:20,2020-10-14 00:36:42,baania,https://baania.com/th/project/-11458...
31232,4080,unittype_28355,project_11592,,20000,Twin house,,NaN,54.0,900000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:38:18,2020-10-14 00:49:29,baania,https://baania.com/th/project/-2-1...
31757,29826,unittype_28659,project_11773,,20000,Twin house,,NaN,66.0,790000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:44:53,2020-10-14 21:59:08,baania,https://baania.com/th/project/-...
33936,19304,5ffbff1a85111e0012890b0b,5ffbfd0c0b07fc001203a5f0,,20000,Twin house,,NaN,73.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2022-04-05 12:30:04,2022-04-05 11:48:44,baania,https://baania.com/th/project/-4-...
34803,37615,unittype_30280,project_12771,,20000,Twin house,,NaN,100.0,975000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:43:58,2020-10-14 21:03:04,baania,https://baania.com/th/project/-127...
35025,535,unittype_16462,project_6491,,20000,Twin house,,NaN,120.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:37:06,2020-10-14 00:41:23,baania,https://baania.com/th/project/-64...
37910,9008,unittype_37802,project_16578,,20000,Twin house,,22.0,NaN,900000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:20:22,2020-10-14 00:53:56,baania,https://baania.com/th/project/-1-1657...
38080,33584,unittype_28045,project_11470,,20000,Twin house,,NaN,65.0,990000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:56,2020-10-14 20:07:58,baania,https://baania.com/th/project/-...
38650,27213,unittype_2937,project_994,Type B,20000,Twin house,,NaN,NaN,640000.0,...,NaN,NaN,1.0,NaN,NaN,NaN,2020-12-04 10:36:50,2020-10-14 00:39:56,baania,https://baania.com/th/project/...
39427,14557,5e8407cce146a400123ef00e,5e8406aae146a400123ef00c,,20000,Twin house,,NaN,54.0,999000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2020-12-28 14:30:04,2020-12-28 14:14:58,baania,https://baania.com/th/project/-2-5e8406aa...
40373,14625,5e859770e146a400123ef2bc,5e85952ae146a400123ef2ae,,20000,Twin house,,NaN,NaN,999000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:25:26,2020-11-11 14:48:19,baania,https://baania.com/th/project/-1-5e85952a...
42174,14669,5e86e5135f777e0012d06b9d,5e86e49f5f777e0012d06b99,,20000,Twin house,,NaN,80.0,999000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:18:22,2020-04-30 10:55:45,baania,https://baania.com/th/project/-...
42332,8513,unittype_37189,project_16107,,20000,Twin house,,20.0,NaN,478000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:24:05,2020-10-14 22:20:38,baania,https://baania.com/th/project/-...

In [54]:
unit.loc[(unit.propertytype_name_en == 'Condo') | (unit.price_min<1000000)]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/---...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/-776...
8,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,Type C,1,Detached House,,NaN,80.0,990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-23 12:00:12,2022-02-23 11:14:31,baania,https://baania.com/th/project/-...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42590,23548,unittype_15279,project_3976,1 Bedroom Tower 1 Floor 5-6,2,Condo,,NaN,33.0,989000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:01,2020-10-14 00:58:25,baania,https://baania.com/th/project/--...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,,NaN,94.0,6345000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 11:00:11,2022-01-14 10:32:44,baania,https://baania.com/th/project/--...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,,NaN,34.0,3120000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:25:14,2020-10-27 15:03:40,baania,https://baania.com/th/project/--...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/---1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/--...

##

In [55]:
column_values = unit['propertytype_name_en'].unique()
print(column_values)

['Condo' 'Twin house' 'Townhome' 'Detached House' 'Commercial'
 'Home office' 'Apartment' 'Land' 'Office Space' 'Hotel'
 'Warehouse / Factory']

In [56]:
# .isin  or  
unit.loc[(unit.price_min.isin([500000,850000,1200000]))][unit.propertytype_name_en == 'Condo']

<ipython-input-56-d89d2ea06175>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  unit.loc[(unit.price_min.isin([500000,850000,1200000]))][unit.propertytype_name_en == 'Condo']

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
96,4564,unittype_8077,project_2722,2 Bedroom,2,Condo,,NaN,45.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:26:39,2020-12-28 11:47:38,baania,https://baania.com/th/project/--...
128,41076,61835efeb9424100136bb399,61835ea1b9424100136bb395,1 Bedroom,2,Condo,,NaN,30.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-05-06 10:30:04,2022-05-05 18:51:11,baania,https://baania.com/th/project/-...
853,8955,unittype_37556,project_15956,1 Bedroom,2,Condo,,NaN,29.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:57,2021-03-12 17:11:20,baania,https://baania.com/th/project/---1...
1449,16618,5edde701dda791001299af36,5edde687dda791001299af24,1 Bedroom,2,Condo,,NaN,32.0,850000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:24:35,2020-10-16 16:25:31,baania,https://baania.com/th/project/--...
1610,28061,unittype_14145,project_5610,Studio,2,Condo,,NaN,25.0,500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:25,2020-10-14 01:03:20,baania,https://baania.com/th/project/...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37820,26994,unittype_14086,project_5580,Studio,2,Condo,,NaN,32.0,1200000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:25,2020-10-14 01:03:14,baania,https://baania.com/th/project/--55...
38106,3384,unittype_30489,project_9493,2 Bedroom,2,Condo,,NaN,42.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:28:47,2021-01-13 15:16:48,baania,https://baania.com/th/project/-...
38285,25001,unittype_11533,project_4117,1 Bedroom,2,Condo,,NaN,33.0,500000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/-...
38762,11890,unittype_31411,project_13240,1 Bedroom,2,Condo,,NaN,30.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:28:37,2021-01-13 11:36:22,baania,https://baania.com/th/project/-...
38797,15781,5eb10a98dde4700019210292,5eb109cfdde470001921027c,1 Bedroom,2,Condo,,NaN,28.0,1200000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2022-03-01 17:00:08,2022-03-01 16:29:46,baania,https://baania.com/th/project/---...

### .iloc

In [57]:
unit.iloc[4,6] #row,col

''

##  match(string) & contains(string)
- match(string) 
-  contains(string)

In [58]:
unit[unit.propertytype_name_th.str.match('')]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
1,28777,unittype_10267,project_3543,Z-2,20000,Twin house,,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/---...
5,30766,unittype_8026,project_2694,Luciano Grand,1,Detached House,,70.5,198.0,11700000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:22:43,2020-10-14 19:35:20,baania,https://baania.com/th/project/--...
7,1666,unittype_14501,project_5799,Type A,1,Detached House,,NaN,NaN,3300000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:59,2020-10-14 00:40:37,baania,https://baania.com/th/project/-...
8,41823,6215b4a7a441d30014e1f02f,6215b1cfc1620300140bc087,Type C,1,Detached House,,NaN,80.0,990000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-23 12:00:12,2022-02-23 11:14:31,baania,https://baania.com/th/project/-...
9,34458,unittype_34564,project_14884,,1,Detached House,,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:13,2020-10-14 22:16:17,baania,https://baania.com/th/project/-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42619,11944,unittype_34884,project_15005,Ametrine,1,Detached House,,NaN,353.0,23590000.0,...,1.0,1.0,1.0,1.0,1.0,NaN,2022-06-03 01:00:11,2022-06-03 00:51:19,baania,https://baania.com/th/project/-...
42620,37109,unittype_38508,project_16864,Canola,1,Detached House,,NaN,157.0,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:22:37,2020-10-14 10:05:42,baania,https://baania.com/th/project/-...
42621,14,unittype_14016,project_5275,Grandeur,1,Detached House,,NaN,223.0,7490000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:36:32,2020-10-14 00:37:51,baania,https://baania.com/th/project/--...
42623,9333,unittype_37375,project_16389,,1,Detached House,,NaN,180.0,3200000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:42:26,2020-10-14 19:30:46,baania,https://baania.com/th/project/-...
42624,780,unittype_17011,project_6762,,1,Detached House,,NaN,170.0,3790000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:19:43,2020-10-14 00:41:39,baania,https://baania.com/th/project/--...

In [59]:
unit[unit.propertytype_name_th.str.contains('')]

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype
0,27501,unittype_9565,project_2446,2 Bedroom,2,Condo,,NaN,37.3,2500000.0,...,1.0,1.0,NaN,NaN,NaN,NaN,2021-11-19 18:00:09,2021-11-19 17:44:45,baania,https://baania.com/th/project/---...
1,28777,unittype_10267,project_3543,Z-2,20000,Twin house,,40.0,150.0,2390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-27 14:30:04,2022-01-27 14:22:55,baania,https://baania.com/th/project/---...
2,28865,unittype_471,project_143,1 Bedroom Type B,2,Condo,,NaN,28.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 15:00:10,2022-01-14 14:40:04,baania,https://baania.com/th/project/-...
3,24988,unittype_19506,project_7766,Studio Floor 1-2,2,Condo,,NaN,27.0,170000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:40:59,2020-10-14 01:06:48,baania,https://baania.com/th/project/-776...
10,5238,unittype_15162,project_4107,Studio Floor 5-8,2,Condo,,NaN,30.0,1116000.0,...,NaN,1.0,NaN,NaN,NaN,NaN,2021-11-12 13:21:06,2020-10-14 00:58:44,baania,https://baania.com/th/project/-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42600,7080,unittype_35335,project_2301,Chestnut,20000,Twin house,,NaN,142.0,4390000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:30:31,2021-02-22 10:57:57,baania,https://baania.com/th/project/--...
42602,39384,unittype_3476,project_812,2 Bedroom Type A,2,Condo,,NaN,94.0,6345000.0,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-14 11:00:11,2022-01-14 10:32:44,baania,https://baania.com/th/project/--...
42604,1058,unittype_7949,project_2641,Typical 1 Bedroom,2,Condo,,NaN,34.0,3120000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:25:14,2020-10-27 15:03:40,baania,https://baania.com/th/project/--...
42607,13546,unittype_40152,project_17505,2 Bedroom,2,Condo,,NaN,71.0,17000000.0,...,NaN,1.0,1.0,NaN,NaN,NaN,2021-11-12 13:23:03,2020-10-14 20:30:43,baania,https://baania.com/th/project/---1...
42615,36172,unittype_34140,project_14663,2 Bedroom,2,Condo,,NaN,60.0,3500000.0,...,1.0,NaN,NaN,NaN,NaN,NaN,2022-02-28 15:30:05,2022-02-28 14:43:35,baania,https://baania.com/th/project/--...

#  (iterrow)

In [60]:
# basic
for idx,row in unit.head(20).iterrows():
  print(idx,row.propertytype_name_th,row.price_min)

0  2500000.0
1  2390000.0
2  nan
3  170000.0
4  2390000.0
5  11700000.0
6  2990000.0
7  3300000.0
8  990000.0
9  nan
10  1116000.0
11  36900000.0
12  nan
13  nan
14  1700000.0
15  1590000.0
16  2200000.0
17  4008000.0
18  2700000.0
19  nan

In [61]:
for row in unit.head(3).iterrows():
    print(row)

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/---...
Name: 0, dtype: object)
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                 Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/---...
Name: 1, dtype: object)
(2, row_number                                                          28865
unittype_id                                                  unittype_471
project_id                                                    project_143
name_th                                                  1 Bedroom Type B
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th
area_total_min_wa                                                     NaN
area_usable_min                                                      28.0
price_min                                                             NaN
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        1.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-14 15:00:10
date_updated                                          2022-01-14 14:40:04
source                                                             baania
url_unittype            https://baania.com/th/project/-...
Name: 2, dtype: object)

In [62]:
for row in unit.head(10).iterrows(): # 10  DataFrame
    if 'project_' not in row[1]['project_id']: #   project_id #row[1]['project_id']project_id
        print(row)

(8, row_number                                                          41823
unittype_id                                      6215b4a7a441d30014e1f02f
project_id                                       6215b1cfc1620300140bc087
name_th                                         Type C
propertytype_id                                                         1
propertytype_name_en                                       Detached House
propertytype_name_th
area_total_min_wa                                                     NaN
area_usable_min                                                      80.0
price_min                                                        990000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  1.0
count_parking                                                         1.0
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-02-23 12:00:12
date_updated                                          2022-02-23 11:14:31
source                                                             baania
url_unittype            https://baania.com/th/project/-...
Name: 8, dtype: object)

In [63]:
for row in unit.head(2).iterrows():
    print(row)
    print(' ',len(row))
    print(' 1 ',row[0])
    print(' 2 ',row[1])

(0, row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/---...
Name: 0, dtype: object)
  2
 1  0
 2  row_number                                                          27501
unittype_id                                                 unittype_9565
project_id                                                   project_2446
name_th                                                         2 Bedroom
propertytype_id                                                         2
propertytype_name_en                                                Condo
propertytype_name_th
area_total_min_wa                                                     NaN
area_usable_min                                                      37.3
price_min                                                       2500000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  NaN
count_parking                                                         NaN
count_room_bath                                                       1.0
count_room_bed                                                        2.0
count_room_dinning                                                    1.0
count_room_guest                                                      1.0
count_room_kitchen                                                    1.0
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2021-11-19 18:00:09
date_updated                                          2021-11-19 17:44:45
source                                                             baania
url_unittype            https://baania.com/th/project/---...
Name: 0, dtype: object
(1, row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                 Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/---...
Name: 1, dtype: object)
  2
 1  1
 2  row_number                                                          28777
unittype_id                                                unittype_10267
project_id                                                   project_3543
name_th                                                 Z-2
propertytype_id                                                     20000
propertytype_name_en                                           Twin house
propertytype_name_th
area_total_min_wa                                                    40.0
area_usable_min                                                     150.0
price_min                                                       2390000.0
count_airconditioner                                                  NaN
count_elevator                                                        NaN
count_floor_internal                                                  2.0
count_parking                                                         2.0
count_room_bath                                                       3.0
count_room_bed                                                        3.0
count_room_dinning                                                    NaN
count_room_guest                                                      NaN
count_room_kitchen                                                    NaN
count_room_living                                                     NaN
count_room_maid                                                       NaN
count_room_storage                                                    NaN
count_room_utility                                                    NaN
date_created                                          2022-01-27 14:30:04
date_updated                                          2022-01-27 14:22:55
source                                                             baania
url_unittype            https://baania.com/th/project/---...
Name: 1, dtype: object

 2  DataFrame unit  ()  ( row[0])  ( row[1]  Series )

# Table slicing

##  column

In [64]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [65]:
data_project = project[['propertytype_name_en', 'propertytype_name_th','price_min']]
data_project

      propertytype_name_en propertytype_name_th  price_min
0           Detached House                   3790000.0
1                    Condo                  1100000.0
2                 Townhome                     0.0
3           Detached House                         0.0
4                 Townhome               1930000.0
...                    ...                  ...        ...
23429             Townhome               5700000.0
23430             Townhome               3590000.0
23431           Commercial           1870000.0
23432       Detached House                   4000000.0
23433       Detached House                   2800000.0

[23434 rows x 3 columns]

####  rows

#####   ( array  array)

In [66]:
project.iloc[1:5,:]

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/-...

 advanced  ( logic query)

```pddf```[list_of_logical_values]  row  logical values  True

In [67]:
project['propertytype_name_th']

0
1
2
3
4
             ...
23429
23430
23431
23432
23433
Name: propertytype_name_th, Length: 23434, dtype: object

In [68]:
project[project['propertytype_name_th']=='']

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
13,13621.0,60596713423c910014e3e723,The Master @BTS Onnut - Pattanakarn,@ -,4,Commercial,,11000000.0,developer_5743,NaN,...,NaN,1.0,NaN,NaN,1.0,2021-03-23 10:57:07,2023-01-01 07:00:00,2021-03-23 15:30:04,baania,https://baania.com/th/project/--...
14,2492.0,project_8912,Arkanpanich Bang Kruai - Sai Noi,-,4,Commercial,,5500000.0,developer_10510,NaN,...,NaN,1.0,NaN,NaN,1.0,2017-07-17 13:57:11,2017-12-31 07:00:00,2020-12-04 10:47:13,baania,https://baania.com/th/project/-...
33,22131.0,project_13196,The Tuscany Ratchadamnoen,,4,Commercial,,3190000.0,developer_8412,"Adara Group Co., Ltd.",...,0.0,1.0,1.0,1.0,1.0,2018-05-09 14:57:09,2017-12-31 07:00:00,2020-12-04 10:30:17,baania,https://baania.com/th/project/--...
88,4428.0,project_11464,K P Property Nong Prue-Krua Sahaphat,-,4,Commercial,,1590000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2017-11-02 15:10:34,1970-01-02 07:00:00,2020-12-04 10:36:20,baania,https://baania.com/th/project/--...
100,23111.0,project_13943,Baan Chalongsuk Phuket,,4,Commercial,,2690000.0,developer_8893,"Baan Charungklin Co,.Ltd.",...,NaN,NaN,NaN,NaN,1.0,2018-06-22 09:31:14,2013-12-31 07:00:00,2020-12-04 10:38:43,baania,https://baania.com/th/project/-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23341,2214.0,project_15166,Baan Suan Sarakham 1,1,4,Commercial,,890000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2019-01-10 10:43:14,1970-01-02 07:00:00,2020-12-04 10:39:03,baania,https://baania.com/th/project/-1-...
23397,10652.0,project_11163,Sunisa Place Condo,,4,Commercial,,1200000.0,developer_7221,NaN,...,0.0,0.0,0.0,1.0,1.0,2017-10-25 09:32:38,1970-01-02 07:00:00,2020-12-04 10:36:13,baania,https://baania.com/th/project/--...
23422,15130.0,project_17150,Baan Puttaraksa Saiwutphaderm-Ban Thung Bia,-,4,Commercial,,2490000.0,developer_2332,Apasiri Group,...,0.0,0.0,0.0,0.0,1.0,2020-01-16 13:09:08,2014-12-31 07:00:00,2020-12-04 10:34:57,baania,https://baania.com/th/project/-...
23428,8894.0,project_12905,J Business Center,,4,Commercial,,7299000.0,developer_5736,"Ornsirin Property Co.,Ltd.",...,NaN,NaN,NaN,NaN,NaN,2018-01-22 10:07:46,2014-06-30 07:00:00,2021-04-05 11:00:04,baania,https://baania.com/th/project/--...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,- -,4,Commercial,,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,NaN,1.0,1.0,NaN,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/--...

 project[***x***]  ***x***  2 


1.    column
2.    rows  ( list ******   logical expression (```True```/```False```))

In [69]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [70]:
ten_rows_project = project.iloc[:10,1:8] # 
ten_rows_project

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0
1,project_11326,Gift Condominium,,2,Condo,,1100000.0
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0
3,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0
4,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0
5,project_15884,H2 Wood,,2,Condo,,1480000.0
6,5e86f32e5f777e0012d06c04,Setthasiri Lampang 2,2,3,Townhome,,990000.0
7,project_1488,Homeland 3 Paradise Garden,3,1,Detached House,,2600000.0
8,project_6637,Lumpini Place Rama 4-Sathorn,4-,2,Condo,,1990000.0
9,61f23ca025ee250014de37f7,Baan Koonpachai,,1,Detached House,,2390000.0

In [71]:
ten_rows_project[[True,False,True,True,False,True,False,False,True,False]]   #2.  list   logic   row   True   ,  False

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0
3,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0
5,project_15884,H2 Wood,,2,Condo,,1480000.0
8,project_6637,Lumpini Place Rama 4-Sathorn,4-,2,Condo,,1990000.0

In [72]:
ten_rows_project1=ten_rows_project['propertytype_name_en'] == 'Detached House'  # list  logical expression
ten_rows_project1

0     True
1    False
2    False
3     True
4    False
5    False
6    False
7     True
8    False
9     True
Name: propertytype_name_en, dtype: bool

In [73]:
ten_rows_project[ten_rows_project1]  # 2

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0
3,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0
7,project_1488,Homeland 3 Paradise Garden,3,1,Detached House,,2600000.0
9,61f23ca025ee250014de37f7,Baan Koonpachai,,1,Detached House,,2390000.0

#  index & value

In [74]:
result = data_project.sort_values('price_min') # 
result

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                        0.0
18601       Detached House                        0.0
18602       Detached House                        0.0
2704        Detached House                        0.0
10898       Detached House                        0.0
...                    ...                  ...       ...
22574       Detached House                        NaN
22616       Detached House                        NaN
22874             Townhome                    NaN
23131           Commercial                NaN
23323             Townhome                    NaN

[23434 rows x 3 columns]

#

In [75]:
#
result['price_max']=10000000
result

      propertytype_name_en propertytype_name_th price_min  price_max
22747       Detached House                        0.0   10000000
18601       Detached House                        0.0   10000000
18602       Detached House                        0.0   10000000
2704        Detached House                        0.0   10000000
10898       Detached House                        0.0   10000000
...                    ...                  ...       ...        ...
22574       Detached House                        NaN   10000000
22616       Detached House                        NaN   10000000
22874             Townhome                    NaN   10000000
23131           Commercial                NaN   10000000
23323             Townhome                    NaN   10000000

[23434 rows x 4 columns]

In [76]:
#
a = [['Detached House','',850000,10000000],
     ['Townhome','',1000000,10000000]]
col = ['propertytype_name_en','propertytype_name_th','price_min','price_max']
newproject = pd.DataFrame(data=a,columns=col)
newproject

  propertytype_name_en propertytype_name_th  price_min  price_max
0       Detached House                      850000   10000000
1             Townhome                 1000000   10000000

In [77]:
newproject = result.append(newproject) #append /
newproject

<ipython-input-77-eddaec8cd948>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  newproject = result.append(newproject) #append /

      propertytype_name_en propertytype_name_th price_min  price_max
22747       Detached House                        0.0   10000000
18601       Detached House                        0.0   10000000
18602       Detached House                        0.0   10000000
2704        Detached House                        0.0   10000000
10898       Detached House                        0.0   10000000
...                    ...                  ...       ...        ...
22874             Townhome                    NaN   10000000
23131           Commercial                NaN   10000000
23323             Townhome                    NaN   10000000
0           Detached House                     850000   10000000
1                 Townhome                1000000   10000000

[23436 rows x 4 columns]

#

In [78]:
newproject.head()

      propertytype_name_en propertytype_name_th price_min  price_max
22747       Detached House                        0.0   10000000
18601       Detached House                        0.0   10000000
18602       Detached House                        0.0   10000000
2704        Detached House                        0.0   10000000
10898       Detached House                        0.0   10000000

In [79]:
# 
newproject.drop('price_max',axis=1,inplace=True)
print(newproject)

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                        0.0
18601       Detached House                        0.0
18602       Detached House                        0.0
2704        Detached House                        0.0
10898       Detached House                        0.0
...                    ...                  ...       ...
22874             Townhome                    NaN
23131           Commercial                NaN
23323             Townhome                    NaN
0           Detached House                     850000
1                 Townhome                1000000

[23436 rows x 3 columns]

In [80]:
newproject

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                        0.0
18601       Detached House                        0.0
18602       Detached House                        0.0
2704        Detached House                        0.0
10898       Detached House                        0.0
...                    ...                  ...       ...
22874             Townhome                    NaN
23131           Commercial                NaN
23323             Townhome                    NaN
0           Detached House                     850000
1                 Townhome                1000000

[23436 rows x 3 columns]

** drop [ axis = 1   , axis = 0  ]**

In [81]:
#  key
rows =[0,1]
newproject.drop(rows,axis=0,inplace=True)

In [82]:
newproject

      propertytype_name_en propertytype_name_th price_min
22747       Detached House                        0.0
18601       Detached House                        0.0
18602       Detached House                        0.0
2704        Detached House                        0.0
10898       Detached House                        0.0
...                    ...                  ...       ...
22574       Detached House                        NaN
22616       Detached House                        NaN
22874             Townhome                    NaN
23131           Commercial                NaN
23323             Townhome                    NaN

[23432 rows x 3 columns]

#

In [83]:
# columns
newproject.rename(columns={'propertytype_name_en': '_en', 'propertytype_name_th': '_th','price_min':''}, inplace=True)
newproject.head(3)

      _en _th
22747       Detached House                                0.0
18601       Detached House                                0.0
18602       Detached House                                0.0

#  (Missing Value)

##  Missing (isnull())

In [84]:
# isnull() 
newproject.isnull() # True =  , False =

       _en  _th
22747                 False                 False              False
18601                 False                 False              False
18602                 False                 False              False
2704                  False                 False              False
10898                 False                 False              False
...                     ...                   ...                ...
22574                 False                 False               True
22616                 False                 False               True
22874                 False                 False               True
23131                 False                 False               True
23323                 False                 False               True

[23432 rows x 3 columns]

In [85]:
newproject.isnull().any() #

_en    False
_th    False
        True
dtype: bool

In [86]:
newproject.isnull().sum() #

_en      0
_th      0
       117
dtype: int64

## 
- 
- 
- 
- 
-

In [164]:
#3 upload data to colab
project = pd.read_csv('opendata_project.csv')
project.head() # .head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/-...

In [165]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [166]:
project.isnull()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,False,False,False,True,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23430,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,False,False,False,False,False,False
23431,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False
23432,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
23433,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,False,False,False,False

In [167]:
project.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
dtype: bool

In [168]:
project.isnull().sum()

row_number                    5
project_id                    0
name_en                       0
name_th                       0
propertytype_id               0
propertytype_name_en          0
propertytype_name_th          0
price_min                   117
developer_id                  0
developer_name_en         12654
developer_name_th          8745
latitude                      0
longitude                     5
neighborhood_id            4215
neighborhood_name_en       4214
neighborhood_name_th       4220
subdistrict_id               19
subdistrict_name_en          14
subdistrict_name_th          16
district_id                  10
district_name_en             10
district_name_th             10
province_id                   9
province_name_en             10
province_name_th             10
zipcode                      31
count_elevator            21543
count_elevator_service    22820
count_floor               18718
count_parking             21430
count_tower               23429
count_unit                 1887
count_unittype             4831
facility_clubhouse        16614
facility_fitness          14539
facility_meeting          20544
facility_park             11759
facility_playground       17157
facility_pool             13716
facility_security          7311
date_created                 10
date_finish                2626
date_updated                 10
source                       10
url_project                  10
dtype: int64

### dropna

In [169]:
# ' price_min ' 
print(len(project[project['price_min'].isnull()])) #we used dropna()
project = project.dropna(subset=['price_min'])

117

In [170]:
# ' longitude '
print(len(project[project['longitude'].isnull()]))

5

In [171]:
project = project.dropna(subset=['longitude'])

In [172]:
# 'subdistrict_id' 
print(len(project[project['subdistrict_id'].isnull()])) 
project = project.dropna(subset=['subdistrict_id'])

13

In [173]:
# 'zipcode' 
print(len(project[project['zipcode'].isnull()])) 
project = project.dropna(subset=['zipcode'])

21

In [174]:
project.isnull().any()

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                 False
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created              False
date_finish                True
date_updated              False
source                    False
url_project               False
dtype: bool

In [175]:
project.isnull().sum()

row_number                    0
project_id                    0
name_en                       0
name_th                       0
propertytype_id               0
propertytype_name_en          0
propertytype_name_th          0
price_min                     0
developer_id                  0
developer_name_en         12532
developer_name_th          8639
latitude                      0
longitude                     0
neighborhood_id            4154
neighborhood_name_en       4154
neighborhood_name_th       4154
subdistrict_id                0
subdistrict_name_en           0
subdistrict_name_th           0
district_id                   0
district_name_en              0
district_name_th              0
province_id                   0
province_name_en              0
province_name_th              0
zipcode                       0
count_elevator            21395
count_elevator_service    22667
count_floor               18588
count_parking             21286
count_tower               23278
count_unit                 1839
count_unittype             4754
facility_clubhouse        16532
facility_fitness          14456
facility_meeting          20454
facility_park             11682
facility_playground       17068
facility_pool             13635
facility_security          7240
date_created                  0
date_finish                2565
date_updated                  0
source                        0
url_project                   0
dtype: int64

In [176]:
# 
project.describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,23278.000000,21439.000000,18524.000000,6746.000000,8822.000000,2824.000000,11596.000000,6210.000000,9643.000000,16038.000000
mean,11714.362402,13.814771,100.599578,4215.141378,3999.677721,3940.412364,28134.091546,199.411633,2.327305,0.730507,0.854001,0.229462,0.898758,0.703704,0.878772,0.962464
std,6764.682445,2.328177,0.945473,2479.548861,1660.037801,1660.901646,24676.986008,320.057773,2.138998,0.443729,0.353125,0.420561,0.301662,0.456660,0.326409,0.190077
min,1.000000,6.839354,97.985808,1007.000000,1006.000000,1005.000000,10002.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5852.250000,13.349972,100.401370,3414.000000,3411.000000,3372.000000,10400.000000,49.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,11716.500000,13.753697,100.601844,3802.000000,3800.000000,3781.000000,20000.000000,108.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17570.750000,13.945754,100.911630,4524.750000,4000.000000,3781.000000,40000.000000,240.000000,3.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,23429.000000,20.442105,105.222114,20688.000000,20003.000000,10508.000000,390000.000000,10074.000000,96.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### fill Null with real world Knownlege

In [129]:
#  price_min  mean
#select = 'price_min'
#project[select] = project[select].fillna(project[select].mean())
#project

In [177]:
#
#fill NA with Text
project['developer_name_en'] = project['developer_name_en'].fillna('Unknown')
project['developer_name_th'] = project['developer_name_th'].fillna('')
project['neighborhood_id'] = project['neighborhood_id'].fillna('Unknown') # 
project['neighborhood_name_en'] = project['neighborhood_name_en'].fillna('Unknown') 
project['neighborhood_name_th'] = project['neighborhood_name_th'].fillna('') 
project['date_finish'] = project['date_finish'].fillna('')

In [178]:
# 
project[['count_floor', 'count_unit','count_unittype']]  = project[['count_floor', 'count_unit','count_unittype']].fillna(1) #, , 
project[['count_elevator','count_floor','count_parking','count_tower', 'count_elevator_service']] = project[['count_elevator','count_floor','count_parking','count_tower', 'count_elevator_service']].fillna(0) 
# 
project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [179]:
project.isnull().any()

row_number                False
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                 False
developer_id              False
developer_name_en         False
developer_name_th         False
latitude                  False
longitude                 False
neighborhood_id           False
neighborhood_name_en      False
neighborhood_name_th      False
subdistrict_id            False
subdistrict_name_en       False
subdistrict_name_th       False
district_id               False
district_name_en          False
district_name_th          False
province_id               False
province_name_en          False
province_name_th          False
zipcode                   False
count_elevator            False
count_elevator_service    False
count_floor               False
count_parking             False
count_tower               False
count_unit                False
count_unittype            False
facility_clubhouse        False
facility_fitness          False
facility_meeting          False
facility_park             False
facility_playground       False
facility_pool             False
facility_security         False
date_created              False
date_finish               False
date_updated              False
source                    False
url_project               False
dtype: bool

In [151]:
#
#project.fillna(method='pad',inplace=True)
project.fillna(method='pad') #

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,- 4,3,Townhome,,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,0.0,1.0,1.0,0.0,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/-...
23430,21181.0,project_12057,@Home Kaset-Nawamin,-,3,Townhome,,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,0.0,0.0,0.0,0.0,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/--...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,- -,4,Commercial,,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,0.0,1.0,1.0,0.0,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/--...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,15,1,Detached House,,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,0.0,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/-15...
23433,5529.0,project_16300,Thawisuk Garden Home,,1,Detached House,,2800000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/-...

In [152]:
#
#project.fillna(method='bfill',inplace=True)
project.fillna(method='bfill')

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,- 4,3,Townhome,,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,0.0,1.0,1.0,0.0,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/-...
23430,21181.0,project_12057,@Home Kaset-Nawamin,-,3,Townhome,,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,0.0,0.0,0.0,0.0,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/--...
23431,13993.0,project_4461,I-Design Wongwaen-Ramintra,- -,4,Commercial,,1870000.0,developer_2217,"Wangthong Group Pub Co., Ltd.",...,0.0,1.0,1.0,0.0,1.0,2017-03-02 11:07:30,2014-12-31 07:00:00,2020-12-04 10:42:33,baania,https://baania.com/th/project/--...
23432,5889.0,project_144,Koolpunt Ville 15 Park Avenue,15,1,Detached House,,4000000.0,developer_1004,"Homeland Service Co., Ltd.",...,0.0,1.0,1.0,1.0,1.0,2015-09-28 09:00:28,2020-01-01 07:00:00,2022-01-10 15:00:13,baania,https://baania.com/th/project/-15...
23433,5529.0,project_16300,Thawisuk Garden Home,,1,Detached House,,2800000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2019-07-05 17:10:33,1970-01-02 07:00:00,2020-12-04 10:45:22,baania,https://baania.com/th/project/-...

#

##  X  y


*    y   records ()
*    x   columns ()

###  Y pd.concat()

In [180]:
project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project'],
      dtype='object')

In [181]:
project.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/-...

In [182]:
project.shape

(23278, 45)

####

In [188]:
column_values = project['propertytype_name_th'].unique()
print(column_values)

['' '' '' '' '' '' ''
 '' '' '' ' / ']

In [189]:
column_values = project['propertytype_name_en'].unique()
print(column_values)

['Detached House' 'Condo' 'Townhome' 'Commercial' 'Home office'
 'Twin house' 'Hotel' 'Apartment' 'Office Space' 'Land'
 'Warehouse / Factory']

In [184]:
project['propertytype_name_th']==''

0         True
1        False
2        False
3         True
4        False
         ...
23429    False
23430    False
23431    False
23432     True
23433     True
Name: propertytype_name_th, Length: 23278, dtype: bool

In [185]:
project_home = project[project['propertytype_name_th']=='']
project_home.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
7,9022.0,project_1488,Homeland 3 Paradise Garden,3,1,Detached House,,2600000.0,developer_1336,Unknown,...,0.0,1.0,1.0,1.0,1.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/-3-...
9,3878.0,61f23ca025ee250014de37f7,Baan Koonpachai,,1,Detached House,,2390000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-01-27 13:33:04,2021-01-01 07:00:00,2022-01-27 14:00:08,baania,https://baania.com/th/project/-61f...
12,12971.0,project_10010,Saksiri 3,3,1,Detached House,,2500000.0,609254e72467f300149b075d,"WT Land Development Co., Ltd.",...,0.0,1.0,0.0,0.0,1.0,2017-09-20 16:04:31,1970-01-02 07:00:00,2021-05-05 15:30:04,baania,https://baania.com/th/project/-3-pro...

In [187]:
project_condo = project[project['propertytype_name_th']=='']
project_condo.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,,2,Condo,,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/-...
5,9434.0,project_15884,H2 Wood,,2,Condo,,1480000.0,developer_1789,"Asset Wise Pub Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2019-06-28 13:47:37,2015-12-31 07:00:00,2020-12-04 10:43:13,baania,https://baania.com/th/project/--projec...
8,7266.0,project_6637,Lumpini Place Rama 4-Sathorn,4-,2,Condo,,1990000.0,developer_1745,"L.P.N.Development PCL Co., Ltd.",...,0.0,0.0,1.0,1.0,1.0,2017-05-04 13:45:47,2003-12-31 07:00:00,2020-12-04 10:40:46,baania,https://baania.com/th/project/...
19,7700.0,project_17114,The The Courtyard Rayong,,2,Condo,,1790000.0,developer_1165,"C.P.Land Pub Co., Ltd.",...,0.0,1.0,0.0,1.0,1.0,2020-01-15 11:21:50,2020-12-31 07:00:00,2022-01-24 18:00:13,baania,https://baania.com/th/project/--...
30,10219.0,project_10762,The Idol Condominium,,2,Condo,,1230000.0,developer_6798,"99 Karat Group Co., Ltd.",...,0.0,1.0,0.0,1.0,1.0,2017-10-16 09:59:00,2012-12-31 07:00:00,2020-12-04 10:41:29,baania,https://baania.com/th/project/--...

In [190]:
project_Townhome = project[project['propertytype_name_th']=='']
project_Townhome.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9,3,Townhome,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-05-05 16:43:28,,2022-05-05 17:30:03,baania,https://baania.com/th/project/-9-...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,-345,3,Townhome,,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,0.0,1.0,0.0,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/-...
6,9219.0,5e86f32e5f777e0012d06c04,Setthasiri Lampang 2,2,3,Townhome,,990000.0,5e8703595f777e0012d06c6d,"Sedsiri Property 2499 Co., Ltd.",...,0.0,0.0,0.0,0.0,1.0,2020-04-03 15:26:22,,2021-01-06 17:00:07,baania,https://baania.com/th/project/--...
10,8735.0,5ee720c1dda791001299b84f,Cher Ngamwongwan-Prachachune,-,3,Townhome,,2990000.0,developer_1741,Unknown,...,0.0,1.0,1.0,1.0,1.0,2020-06-15 14:18:25,2022-01-01 07:00:00,2021-03-04 16:30:03,baania,https://baania.com/th/project/--...
11,21333.0,project_16422,Loet Ubon 4,4,3,Townhome,,1800000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2019-07-15 10:33:46,1970-01-02 07:00:00,2020-12-04 10:42:26,baania,https://baania.com/th/project/-4-p...

In [193]:
project_home.shape

(8841, 45)

In [194]:
project_condo.shape

(4684, 45)

In [195]:
project_Townhome.shape

(6199, 45)

In [191]:
project_HCT = pd.concat([project_home,project_condo,project_Townhome])
project_HCT

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,,1,Detached House,,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,0.0,0.0,0.0,1.0,1.0,2020-06-10 14:36:04,,2020-12-04 10:32:58,baania,https://baania.com/th/project/-...
3,20719.0,project_2010,Baan Sansabai 1,1,1,Detached House,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/-1-pr...
7,9022.0,project_1488,Homeland 3 Paradise Garden,3,1,Detached House,,2600000.0,developer_1336,Unknown,...,0.0,1.0,1.0,1.0,1.0,2016-06-10 14:52:22,2022-01-01 07:00:00,2022-02-28 18:30:07,baania,https://baania.com/th/project/-3-...
9,3878.0,61f23ca025ee250014de37f7,Baan Koonpachai,,1,Detached House,,2390000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2022-01-27 13:33:04,2021-01-01 07:00:00,2022-01-27 14:00:08,baania,https://baania.com/th/project/-61f...
12,12971.0,project_10010,Saksiri 3,3,1,Detached House,,2500000.0,609254e72467f300149b075d,"WT Land Development Co., Ltd.",...,0.0,1.0,0.0,0.0,1.0,2017-09-20 16:04:31,1970-01-02 07:00:00,2021-05-05 15:30:04,baania,https://baania.com/th/project/-3-pro...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23418,7167.0,5ea6508378b3120012dd4e96,The Blue,,3,Townhome,,1850000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2020-04-27 10:24:51,,2020-12-04 10:32:34,baania,https://baania.com/th/project/-5ea65083...
23423,17766.0,project_10694,Baan Silarom,,3,Townhome,,2090000.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,1.0,2017-10-11 15:25:13,1970-01-02 07:00:00,2020-12-04 10:36:04,baania,https://baania.com/th/project/-pro...
23424,6971.0,614ab02bc4d52b0013a6fce4,Baan Ampornplace 2 Sukhaphiban 5,2 5,3,Townhome,,0.0,developer_10510,Unknown,...,0.0,0.0,0.0,0.0,0.0,2021-09-22 11:25:15,2000-01-01 07:00:00,2021-09-22 12:00:05,baania,https://baania.com/th/project/-2-...
23429,12883.0,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,- 4,3,Townhome,,5700000.0,developer_1760,"AP (Thailand) Co,. Ltd",...,0.0,1.0,1.0,0.0,1.0,2017-12-06 13:10:23,1970-01-02 07:00:00,2020-12-04 10:42:15,baania,https://baania.com/th/project/-...
23430,21181.0,project_12057,@Home Kaset-Nawamin,-,3,Townhome,,3590000.0,developer_1793,"Areeya Property Co.,Ltd.",...,0.0,0.0,0.0,0.0,1.0,2017-11-30 11:12:12,1970-01-02 07:00:00,2022-06-06 16:30:06,baania,https://baania.com/th/project/--...

In [192]:
project_HCT.shape

(19724, 45)

###  X 


*    2  (merge)
*    column (map)

In [204]:
project_1= project[['project_id', 'name_en', 'name_th']]
project_1

,project_id,name_en,name_th
0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,
1,project_11326,Gift Condominium,
2,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,9
3,project_2010,Baan Sansabai 1,1
4,project_16838,Baanpruksa Ratchapruek-345,-345
...,...,...,...
23429,project_12317,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,- 4
23430,project_12057,@Home Kaset-Nawamin,-
23431,project_4461,I-Design Wongwaen-Ramintra,- -
23432,project_144,Koolpunt Ville 15 Park Avenue,15
23433,project_16300,Thawisuk Garden Home,

In [205]:
project_2 = project[['project_id', 'propertytype_name_en', 'propertytype_name_th', 'price_min']]
project_2

,project_id,propertytype_name_en,propertytype_name_th,price_min
0,5ee08d64dda791001299b2a6,Detached House,,3790000.0
1,project_11326,Condo,,1100000.0
2,62739c4089233e001362b001,Townhome,,0.0
3,project_2010,Detached House,,0.0
4,project_16838,Townhome,,1930000.0
...,...,...,...,...
23429,project_12317,Townhome,,5700000.0
23430,project_12057,Townhome,,3590000.0
23431,project_4461,Commercial,,1870000.0
23432,project_144,Detached House,,4000000.0
23433,project_16300,Detached House,,2800000.0

####   record

In [206]:
full_table1 = project_2.merge(project_1)
full_table1.head()

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
1,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
2,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
3,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
4,project_11326,Condo,,1100000.0,Gift Condominium,

In [207]:
full_table1.columns

Index(['project_id', 'propertytype_name_en', 'propertytype_name_th',
       'price_min', 'name_en', 'name_th'],
      dtype='object')

In [208]:
full_table2 = project_2.merge(project_1, left_on='project_id', right_on='project_id') 
full_table2

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
1,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
2,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
3,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
4,project_11326,Condo,,1100000.0,Gift Condominium,
...,...,...,...,...,...,...
31571,project_12905,Commercial,,7299000.0,J Business Center,
31572,project_12317,Townhome,,5700000.0,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,- 4
31573,project_12057,Townhome,,3590000.0,@Home Kaset-Nawamin,-
31574,project_144,Detached House,,4000000.0,Koolpunt Ville 15 Park Avenue,15
31575,project_16300,Detached House,,2800000.0,Thawisuk Garden Home,

#### sort

In [210]:
full_table2.sort_values('price_min')
full_table2

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
1,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
2,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
3,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
4,project_11326,Condo,,1100000.0,Gift Condominium,
...,...,...,...,...,...,...
31571,project_12905,Commercial,,7299000.0,J Business Center,
31572,project_12317,Townhome,,5700000.0,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,- 4
31573,project_12057,Townhome,,3590000.0,@Home Kaset-Nawamin,-
31574,project_144,Detached House,,4000000.0,Koolpunt Ville 15 Park Avenue,15
31575,project_16300,Detached House,,2800000.0,Thawisuk Garden Home,

In [211]:
full_table2.sort_values('price_min',ascending=False)
full_table2

,project_id,propertytype_name_en,propertytype_name_th,price_min,name_en,name_th
0,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
1,5ee08d64dda791001299b2a6,Detached House,,3790000.0,Winning Residence Sukhumvit Praksa,
2,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
3,5ee08d64dda791001299b2a6,Twin house,,3790000.0,Winning Residence Sukhumvit Praksa,
4,project_11326,Condo,,1100000.0,Gift Condominium,
...,...,...,...,...,...,...
31571,project_12905,Commercial,,7299000.0,J Business Center,
31572,project_12317,Townhome,,5700000.0,Baan Klangmeung Urbanion Ladphrao-Chokchai 4,- 4
31573,project_12057,Townhome,,3590000.0,@Home Kaset-Nawamin,-
31574,project_144,Detached House,,4000000.0,Koolpunt Ville 15 Park Avenue,15
31575,project_16300,Detached House,,2800000.0,Thawisuk Garden Home,

In [ ]:
data_human2_renamed = data_human2.rename(columns={'No.': 'patientNumber'})
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10       Thailand
11497          11498  0.11          Burma
6477            6478  0.11      Thailand
1675            1676  0.30          Japan
1075            1076  0.40       Thailand

In [ ]:
data_human2_renamed.merge(data_province)

MergeError: ignored

In [ ]:
full_table3 = data_human2_renamed.merge(data_province,left_on='patientNumber',right_on='No.')
full_table3.head()

   patientNumber   age   sex nationality    No. announce_date province_of_onset
0           1988  0.10       Thailand   1988      4/4/2020
1          11498  0.11          Burma  11498     1/16/2021
2           6478  0.11      Thailand   6478    12/30/2020
3           1676  0.30          Japan   1676      4/1/2020
4           1076  0.40       Thailand   1076     3/27/2020

#### map()  column

In [ ]:
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10       Thailand
11497          11498  0.11          Burma
6477            6478  0.11      Thailand
1675            1676  0.30          Japan
1075            1076  0.40       Thailand

In [ ]:
data_covid.head()

   No. announce_date  ... district_of_onset                              risk
0    1     1/12/2020  ...               NaN
1    2     1/17/2020  ...               NaN
2    3     1/22/2020  ...
3    4     1/22/2020  ...               NaN
4    5     1/24/2020  ...               NaN

[5 rows x 10 columns]

 pandas  column  df   

```df[' column '] = (list  record  df)```

In [ ]:
data_human2_renamed.head()

       patientNumber   age   sex nationality
1987            1988  0.10       Thailand
11497          11498  0.11          Burma
6477            6478  0.11      Thailand
1675            1676  0.30          Japan
1075            1076  0.40       Thailand

In [ ]:
data_human2_renamed['num'] = range(data_human2_renamed.shape[0])
data_human2_renamed

       patientNumber   age   sex nationality    num
1987            1988  0.10       Thailand      0
11497          11498  0.11          Burma      1
6477            6478  0.11      Thailand      2
1675            1676  0.30          Japan      3
1075            1076  0.40       Thailand      4
...              ...   ...   ...         ...    ...
12635          12636   NaN   NaN    Thailand  12648
12636          12637   NaN   NaN    Thailand  12649
12637          12638   NaN   NaN    Thailand  12650
12638          12639   NaN   NaN    Thailand  12651
12639          12640   NaN   NaN    Thailand  12652

[12653 rows x 5 columns]

In [ ]:
data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk']) #.map   'patientNumber'  'No.'   return list  ['risk']

1987
11497                              Cluster
6477
1675
1075
                            ...
12635                              Cluster
12636                              Cluster
12637                              Cluster
12638                              Cluster
12639                              Cluster
Name: patientNumber, Length: 12653, dtype: object

In [ ]:
data_human2_renamed['detail'] = data_human2_renamed['patientNumber'].map(data_covid.set_index('No.')['risk'])
data_human2_renamed

       patientNumber   age  ...    num                                       detail
1987            1988  0.10  ...      0
11497          11498  0.11  ...      1                            Cluster
6477            6478  0.11  ...      2
1675            1676  0.30  ...      3
1075            1076  0.40  ...      4
...              ...   ...  ...    ...                                          ...
12635          12636   NaN  ...  12648                            Cluster
12636          12637   NaN  ...  12649                            Cluster
12637          12638   NaN  ...  12650                            Cluster
12638          12639   NaN  ...  12651                            Cluster
12639          12640   NaN  ...  12652                            Cluster

[12653 rows x 6 columns]

#  (Groupby)

#

#